* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, sans-serif; */
}

body {
  /* background: #2b0f1e; */
  height: 100vh;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

/* Navbar */
.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 15px 30px;
  background: #6f88c9;
  color: white;
}

.logo {
  background: #d94b5c;
  padding: 8px 15px;
  border-radius: 8px;
}

.menu {
  text-align: center;
  background: #d94b5c;
  padding: 10px;
  border-radius: 10px;
}

.auth button {
  margin-left: 10px;
  padding: 10px 20px;
  /* border: none; */
  border-radius: 8px;
  background: #d94b5c;
  color: white;
  cursor: pointer;
}

/* Main content */
.content {
  background: #b0253d;
  display: grid;
  place-items: center;
}

/* Popup box */
.popup {
  background: #7ea0e4;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
}

.popup h2 {
  margin-bottom: 30px;
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.buttons button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}
