* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* row-gap: 1rem;
    column-gap: 2rem; */
    gap: 2rem;
    /* grid-template-rows: repeat(4, 1fr); */

  }
  .item{
    border: 2px solid black;
    background-color: aqua;
  }

  .item-1{
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    height: 5rem;
  }
  .item-2{
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .item-3{
    grid-row: 2/4;
    grid-column: 2/4;
  }
  /* .navbar {
    grid-column: 1 / 3;
    background-color: #c2cdc5;
    height: 60px;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(1, 1, 1);
  }
  .image {
    grid-column: 1 / 2;
    background-color: #d1dad3;
    height: 350px;
    border: 4px solid white;
    border-radius: 12px;
  }
  .content {
    grid-column: 2 / 3;
    background-color: #c2ccc4;
    height: 350px;
    border: 4px solid white;
    color: black;
  }
  .heading {
    grid-column: 1 / 3;
    background-color: #f3cabb;
    height: 100px;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(2, 2, 2);
  }
  .footer {
    grid-column: 1 / 3;
    background-color: #afccf2;
    height: 80px;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(7, 7, 7);
  }
  .image img {
    width: 100%;
    height: 100%;
  } */