* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 100vh;
    height: 80vh;
    padding: 20px;
    background: linear-gradient(135deg, #a855f7, #ec4899);
    background: hotpink;
    border-radius: 20px;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  
    border: 4px solid #4fc3f7;
  }
  
  .box {
    height: 120px;
    background: rgba(0, 153, 255, 0.4);
    border-radius: 16px;
    border: 3px solid #9be7ff;
  }

  .wide {
    grid-column: span 2;
  }
  