* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 15px;
  background-color: orange;
  min-height: 100vh;
}
.navbar {
  grid-column: 1 / 3;
  background-color: cornsilk;
  height: 60px;
  border: 4px solid white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: rgb(1, 1, 1);
}
.image {
  grid-column: 1 / 2;
  background-color: cornsilk;
  height: 350px;
  border: 4px solid white;
  border-radius: 12px;
}
.content {
  grid-column: 2 / 3;
  background-color: cornsilk;
  height: 350px;
  border: 4px solid white;
  color: maroon;
}
.heading {
  grid-column: 1 / 3;
  background-color: cornsilk;
  height: 100px;
  border: 4px solid white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: rgb(2, 2, 2);
}
.footer {
  grid-column: 1 / 3;
  background-color: cornsilk;
  height: 80px;
  border: 4px solid white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: rgb(7, 7, 7);
  
}
.image img {
  width: 100%;
  height: 100%;
}