* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    background: maroon;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  @media screen and (min-width: 320px) and (max-width: 7640px) {
    
  .main {
    width: 90%;
    height: 80%;
    border: 2px solid white;
    border-radius: 12px;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }
  
  .top {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
  }
  
  .top input {
    width: 350px;
    padding: 8px;
    border-radius: 6px;
    border: none;
  }
  
  .top button {
    display: flex;
    justify-content: ;
    padding: 8px 20px;
    border-radius: 6px;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
  }

  .card {
    height: 50vh;
    border: 2px solid white;
    border-radius: 12px;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .card h3 {
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .btns {
    margin-top: auto;
    display: flex;
    gap: 240px;
  }
  
  .btns button {
    padding: 5px 12px;
    border-radius: 6px;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
  }
  
  }
